@import '@folio/stripes-components/lib/variables';

.legend {
  display: block;
  width: 100%;
  font-size: var(--font-size-large);
  color: #333;
  border: 0;
  margin-bottom: 6px;
  padding-bottom: 2px;
}
