@import '@folio/stripes-components/lib/variables';

.contactPersonItem {
  border-color: var(--color-border-p2);
  border-width: 1px 1px 0;
  border-style: solid;
  width: 100%;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--color-border-p2);

  &:last-of-type {
    border-bottom: 1px solid var(--color-border-p2);
    margin-bottom: 4px;
  }
}

.contactPersonItemContent {
  padding: 14px;
  background-color: color-mix(in oklch, var(--bg), var(--bg-hover) 20%);
  width: 100%;
}

.contactPersonItemContent [class^="kvRoot"] {
  overflow-wrap: break-word;
}
