@import '@folio/stripes-components/lib/variables';

.editList {
  margin-bottom: 1rem;
}

.legend {
  display: block;
  width: 100%;
  font-size: var(--font-size-large);
  color: #333;
  border: 0;
  margin-bottom: 6px;
  padding-bottom: 2px;
}

.formList {
  list-style: none;
  padding: 0;
}

.formListItem {
  width: 100%;
  border-color: var(--color-border-p2);
  border-width: 1px 1px 0;
  border-style: solid;
  &:last-of-type {
    border-bottom: 1px solid var(--color-border-p2);
    margin-bottom: 4px;
  }
}

.primaryToggle {
  padding: 4px 8px;
  color: #555;
  font-size: var(--font-size-medium);
  cursor: pointer;
  margin-bottom: 0;
  &:input[type="radio"] {
    margin: 0 4px;
    vertical-align: text-top;
  }
}

.formHeader {
  background-color: var(--bg-hover);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 14px;
}

.label {
  font-weight: var(--text-weight-headline-basis);
}

.headerActions {
  margin: 0 0 0 auto; /* align to end of header */
  padding: 4px 0;
}

.formBody {
  padding: 14px;
  background-color: color(var(--bg) blend(var(--bg-hover) 20%));
  width: 100%;
}

.primaryLabel {
  margin: 0 20px;
}
